:root {
  /* 컬러 */
  --brand_color1: #0167B5;
  --brand_color2: #0F4F9E;
  --point_color: #EAB821;
  --gray1: #C6C6C6;
  --gray2: #707070;
  --gray3: #CCCCCC;
  --white: #FFFFFF;
  --black: #232323;
}